#addPlayerButton {
    margin-left: 40px;
}

.modal-header {
    background-color: rgb(57, 62, 72);
    color: rgb(33, 119, 148);
}

.modal-body {
    background-color: rgb(230, 230, 230);
}

.modal-footer {
    background-color: rgb(244, 244, 244);
}